body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  
}

h1 {
  text-align: center;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

#add-task-btn {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #2e86de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#add-task-btn:hover {
  background-color: #1b4f72;
}

#todo-list {
  list-style: none;
  padding: 0;
}


li {
  background: #f1f1f1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

button.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button.delete-btn:hover {
  background-color: #c0392b;
}


button.edit-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 8px;
}

button.edit-btn:hover {
  background-color: #2980b9;
}
